<aside class="flex flex-col bg-red-600 h-screen gap-4"> <!-- Fixed width (20%) -->
  <div class="p-4">
    <img
      ngSrc="assets/images/catering_enhanced.png"
      alt="Catering Air Algerie Logo"
      class="h-12 w-auto"
      height="550" width="732"/>
  </div>
  <nav>
    <ul>
      <li
        *ngFor="let item of sidebarItems"
        class="p-3 hover:bg-red-500 cursor-pointer text-white text-2xl"
      [routerLink]="item.path"
      >
      {{ item.title }}
      </li>
    </ul>
  </nav>
</aside>
